<?xml version="1.0"?>

<model>
  <name>Simple black lines track</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Rebeca Velasco</name>
    <email>almarebeca.velascoolmos@manchester.ac.uk</email>
  </author>

  <description>
    A basic track for PuzzleBot with  black line to test line following
  </description>

</model>
